*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;

}

h1{
    text-transform: uppercase;
    font-size: 1.5rem;
}

h2, h3{
    margin: 15px 0;
    text-align: center;
}

p{
    font-weight: 300;
    margin: 10px 0;
}