
/* Footer*/

footer{
    background-color: $rojo;
    padding: 20px 0;
    color: #eee;
    text-align: center;

    .contenedor{

        .contenido-contacto{
            display: flex;
            justify-content: space-around;
        }

            ul{
                li{
                    margin: 20px 0;

                    a.celeste{

                        &:hover{
                            color: black;
                            background-color: $celeste;
                            border-radius: 1rem;
                        }    
                    }
        
                    a.amarillo{
        
                        &:hover{
                            color: black;
                            background-color: $amarillo;
                            border-radius: 1rem;
                        }    
                    }
        
                    a.verde{
        
                        &:hover{
                            color: black;
                            background-color: $verde;
                            border-radius: 1rem;
                        }    
                    }
        

                    a{
                        text-decoration: none;
                        color: inherit;
                        padding: 15px;

                    &:hover {
                        background-color: red;
                        border-radius: 1rem;
                    }

                i{
                    margin-right: 10px;
                }
            }
        }
    }

    
}
}