/* Cabecera */

header{
    background-color: white;
    /* border-bottom: 5px solid $celeste; */
    /* box-shadow: 0px 1px 4px 0px rgba(194, 84, 19, 0.3); */
    /* margin-bottom: 10px; */
/*     
    position: fixed;
    top: 0;
    width: 100%; 
*/

    #menu, .cerrar{
        display:none;
    }

    .contenedor{
        display: flex;
        align-items: center;
        justify-content: space-between;

        li{
            display: inline-block;
            /* padding: 15px; */
            padding-bottom: 1rem;
        
            a.celeste{

                &:hover{
                    background-color: $celeste;
                    border-radius: 1rem;
                }    
            }

            a.amarillo{

                &:hover{
                    background-color: $amarillo;
                    border-radius: 1rem;
                }    
            }

            a.rojo{

                &:hover{
                    background-color: $rojo;
                    border-radius: 1rem;
                }    
            }

            a.verde{

                &:hover{
                    background-color: $verde;
                    border-radius: 1rem;
                }    
            }




            a{
                text-decoration: none;
                padding: 15px;

/*                 &:hover {
                    background-color: red;
                    border-radius: 1rem;
                  } */
               
            
                &:visited {
                    color: black;
                  }
            
            }
        }

        
    }

}
 

.logo{
    display: flex;
    align-items: center;

    img{
        margin: 10px 20px 10px 0;
    }
}

i{
    font-size: 1.5rem;
}

.volver-arriba{
    position: fixed;
    bottom: 20px;
    right:20px; 
    z-index: 1;
    padding: 5px;

    i{
        font-size: 2.5rem;
    }
}
