/*Secciones*/

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.slider {
    
    img{
        width: 100%;
    }
} 

section{
    padding-bottom: 20px;
    
    h2{
        padding-top: 20px;
    }
}

.historia, .equipo, .actividades{
    display: flex;

    img{
        width: 100%;
        height: auto;
        min-width: 350px;
        max-width: 650px;
    
    }
}

.equipo {

    .contenido-equipo{
        ul{
            margin:15px
        }
    }

    ul{
        li{
            font-weight: normal;
            font-weight: 200;
        }
    }
    
    img{
        /* margin-right: 10px; */
        max-width: 650px;
    }
}

.historia {
    
    img{
    margin-left: 10px;
    }
}


.contenido-equipo{
    p{
        margin-left: 10px;
    }
}

#objetivo{
    background-color: #ccc;
    

    .contenido-objetivo{
        text-align: center;
    }
}

#actividades{
    background-color: lightblue;
    margin-top: 0;
    
    .actividades{
        justify-content: space-around;

        li{
            text-align: center;
        }
    }
}
