/*Secciones*/

.slider-cabecera {
    
    img{
        width: 100%;
    }
} 

.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}



section{
    padding-bottom: 20px;
    margin: 1rem 0;
    
    h2{
        padding-top: 20px;
    }

}

.historia, .equipo, .actividades{
    display: flex;

    img{
        width: 100%;
        height: auto;
        min-width: 350px;
        max-width: 650px;
    
    }
}

.equipo {

    .contenido-equipo{
        ul{
            margin:15px
        }

        p{
            margin-left: 10px;
        }
    }

    ul{
        li{
            font-weight: normal;
            font-weight: 200;
        }
    }
    
    img{
        /* margin-right: 10px; */
        max-width: 650px;
    }
}




#historia{
    
    .historia {
    
        img{
        margin-left: 10px;
        }
    }
}

#objetivo{
    background-color: #ccc;
    

    .contenido-objetivo{
        text-align: center;
    }
}

#actividades{
    /* background-color: $celeste; */
    margin-top: 0;
    
    .actividades{
        justify-content: space-around;
        /* background-color: red; */
        padding:20px;
        border-radius: 1rem;
        box-shadow: 8px 5px 15px 5px #444;
        
        ul{
            margin-bottom: 1rem;
            
            li{
                text-align: center;
                font-style: oblique;
                font-weight: 300;
                
            }

        }
        }

    .actividades-fisicas{
        background-color: $amarillo;
    }

    .actividades-curriculares{
        background-color: $verde;
    }
}

#horario{
    background-color: $celeste;
    padding: 20px 0;
    color: #000;
    text-align: center;
}