@media screen and (max-width: 760px) {



    h1{
        font-size: 1rem;
    }
    
    h2{
        text-align: center;
    }

    header {
        .contenedor{
            flex-direction: column;
            flex-wrap: wrap;
            padding-bottom: 20px;

            #menu {
                display:block;
                position: absolute;
                top: 25px;
                right: 0;
            }

            .cerrar{
                display:block;
                position: absolute;
                top: 25px;
                right: 25px;
            }

            #nav{
                display: none;

                &:target{
                    display: block;
                    background-color: white;
                    position: fixed;
                    top: 0;
                    width: 100vw;
                    height: 100vh;
                    z-index: 3;
                    
                    ul{
                        display: block;
                        margin-top: 50px;
                        li{
                            display: block;
                            text-align: center;
                        }
                        
                    }
                }
            }
        }
    }

    .historia, .equipo, .contenido-contacto {
        flex-direction: column;
    }
     
    .equipo{
        flex-direction: column;
    }

    .historia {
    
        img{
        margin-left: 0;
        }
    }

    iframe{
        width: 100%;
    }

    .contenido-equipo{
        text-align: center;
    }


    nav{
        ul{
            li{
                margin: 10px; 
            }
        }
    }

    .actividades{
        display: flex;
        flex-direction: column;

        .contenedor-slider{
            margin: auto;
            width: 100%;

            .slider{
                width: 100%;
            }

        }
    }

    .actividades-2 {
        flex-direction: column-reverse;
    }

    #mision-vision{

        .contenedor{
            flex-direction: column;
        }

    }


}